<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
    </ul>
</nav>
</div>
<br/>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Stock
  </button>
  <div id="mainButton" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a id="AAPL" class="dropdown-item" href="#">AAPL</a>
    <a id="AMZN" class="dropdown-item" href="#">AMZN</a>
    <a id="FB" class="dropdown-item" href="#">FB</a>
    <a id="GOOG" class="dropdown-item" href="#">GOOG</a>
    <a id="MSFT" class="dropdown-item" href="#">MSFT</a>
    <a id="AMD" class="dropdown-item" href="#">AMD</a>
  </div>
</div>

<p> </p>



<div id="mainChart" style="height: 400px; min-width: 310px"></div>
<div id="tweetVolumeChart" style="height: 400px; min-width: 310px"></div>
<div id="regressionChart" style="height: 400px; min-width: 310px"></div>

</p></div>
</div>
</body>
</html>

<script> 

var socket = io();

//socket.on('time', function(data) {
//    console.log(data.time); 
//});

$(document).ready(function() {
  socket.emit('update', 'AAPL');
  socket.emit('updateTweetVolume', 'AAPL');
  socket.emit('regressionUpdate', 'AAPL');
});

jQuery("#AAPL").click(function(e){
  //do something
  socket.emit('update', 'AAPL');
  socket.emit('updateTweetVolume', 'AAPL');
  socket.emit('regressionUpdate', 'AAPL');
});

jQuery("#AMZN").click(function(e){
  //do something
  socket.emit('update', 'AMZN');
  socket.emit('updateTweetVolume', 'AMZN');
  socket.emit('regressionUpdate', 'AMZN');
});

jQuery("#FB").click(function(e){
  //do something
  socket.emit('update', 'FB');
  socket.emit('updateTweetVolume', 'FB');
  socket.emit('regressionUpdate', 'FB');
});

jQuery("#GOOG").click(function(e){
  //do something
  socket.emit('update', 'GOOG');
  socket.emit('updateTweetVolume', 'GOOG');
  socket.emit('regressionUpdate', 'GOOG');
});

jQuery("#MSFT").click(function(e){
  //do something
  socket.emit('update', 'MSFT');
  socket.emit('updateTweetVolume', 'MSFT');
  socket.emit('regressionUpdate', 'MSFT');
});

jQuery("#AMD").click(function(e){
  //do something
  socket.emit('update', 'AMD');
  socket.emit('updateTweetVolume', 'AMD');
  socket.emit('regressionUpdate', 'AMD');
});

var main_chart = Highcharts.stockChart('mainChart', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'AAPL Price'
        },

        series: [{
            name: 'AAPL',
            data: [],
            tooltip: {
                valueDecimals: 2
            }
        }]
    });

var tweet_volume_chart = Highcharts.stockChart('tweetVolumeChart', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'AAPL Tweet Volume'
        },

        series: [{
            name: 'AAPL',
            data: [],
            tooltip: {
                valueDecimals: 2
            }
        }]
    });

var regression_chart = Highcharts.stockChart('regressionChart', {


        rangeSelector: {
            selected: 1
        },

        title: {
            text: "AAPL Regression Daily Returns"
        },

        series: [{
            name: 'AAPL',
            data: [],
            tooltip: {
                valueDecimals: 2
            }
        }]
    });



socket.on('priceData', function(data_dict) {
  //console.log(data_dict);
  var ticker = data_dict['ticker']; 
  var historicalData = data_dict['data'];
  //console.log(data);

  var highChartData = [];
  for (var i = 0; i < historicalData.length; i++) {
      var date_string = historicalData[i].time;
      highChartData.push({
          //x: moment(date_string, "YYYY/MM/DD HH:mm:ss:SSS").valueOf(), 
          x: (new Date(date_string)).getTime(), 
          y: Number(historicalData[i].value)
      });
  }
  
  main_chart = Highcharts.stockChart('mainChart', {
                chart: {
                    zoomType: 'x'
                },
                
                rangeSelector: {
                    buttons: [{
                    type: 'minute',
                      count: 1,
                      text: '1 m'
                    }, {
                      type: 'minute',
                      count: 30,
                      text: '30 m'
                    }, {
                      type: 'hour',
                      count: 1,
                      text: '1 h'
                    }, {
                      type: '6',
                      count: 6,
                      text: '6 h'
                    }, {
                      type: 'hour',
                      count: 12,
                      text: '12 h'
                    }, {
                      type: 'hour',
                      count: 15,
                      text: '15 h'
                    }, {
                      type: 'month',
                      count: 1,
                      text: '1m'
                    }, {
                      type: 'month', 
                      count: 2, 
                      text: '2m'
                    }, {
                      type: 'all',
                      text: 'All'
                    }],
                    selected: 2, 
                    inputEnabled: false
                },
                
                legend: {
                    enabled: true
                },
        
                title: {
                    text: ticker + " Price"
                },

                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        },
                        turboThreshold: 1000000
                    }
                },
        
                series: [{
                    name: ticker,
                    data: highChartData,
                    step: true
                }]
            });
            
            Highcharts.setOptions({
                global : {
                    useUTC : false
                }
            });
  
}); 

socket.on('tweetVolumeUpdate', function(data_dict) {
  //console.log(data_dict);
  var ticker = data_dict['ticker']; 
  var bull_data = data_dict['bull_dict'];
  var bear_data = data_dict['bear_dict'];
  var nuetral_data = data_dict['nuetral_dict']; 

  var bull_highChartData = [];
  var bear_highChartData = [];
  var nuetral_highChartData = [];
  for (time in bull_data) {
      bull_highChartData.push({
          x: (new Date(time)).getTime(), 
          y: Number(bull_data[time])
      });

      bear_highChartData.push({
          x: (new Date(time)).getTime(), 
          y: Number(bear_data[time])
      });

      nuetral_highChartData.push({
          x: (new Date(time)).getTime(), 
          y: Number(nuetral_data[time])
      });
  }

  //console.log(positive_highChartData);

  tweet_volume_chart = Highcharts.stockChart('tweetVolumeChart', {
                chart: {
                    zoomType: 'x'
                },
                
                rangeSelector: {
                    buttons: [{
                    type: 'minute',
                      count: 1,
                      text: '1 m'
                    }, {
                      type: 'minute',
                      count: 30,
                      text: '30 m'
                    }, {
                      type: 'hour',
                      count: 1,
                      text: '1 h'
                    }, {
                      type: '6',
                      count: 6,
                      text: '6 h'
                    }, {
                      type: 'hour',
                      count: 12,
                      text: '12 h'
                    }, {
                      type: 'hour',
                      count: 15,
                      text: '15 h'
                    }, {
                      type: 'month',
                      count: 1,
                      text: '1m'
                    }, {
                      type: 'month', 
                      count: 2, 
                      text: '2m'
                    }, {
                      type: 'all',
                      text: 'All'
                    }],
                    selected: 2, 
                    inputEnabled: false
                },
                
                legend: {
                    enabled: true
                },
        
                title: {
                    text: ticker + " Tweet Volume"
                },

                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        },
                        turboThreshold: 1000000
                    }
                },
        
                series: [{
                    name: ticker + " neutral",
                    data: nuetral_highChartData,
                    step: true,
                    color: "#2f7ed8"
                }]
            });
            
            Highcharts.setOptions({
                global : {
                    useUTC : false
                }
            });

            tweet_volume_chart.addSeries({
                name: ticker + " bearish",
                data: bear_highChartData,
                step: true, 
                color: "#ff0000"
            });

            tweet_volume_chart.addSeries({
                name: ticker + " bullish",
                data: bull_highChartData,
                step: true,
                color: "#6fff00"
            });
  
}); 

socket.on('regressionUpdate', function(data_dict) {

  var ticker = data_dict['ticker']; 
  var actual_dict = data_dict['actual'];
  var fitted_dict = data_dict['fitted'];
  //console.log(data);

  //daily returns
  var actual_data = [];
  var fitted_data = []; 
  for (time in actual_dict) {
      actual_data.push({
          x: (new Date(time)).getTime(), 
          y: Number(actual_dict[time])
      });
  
      fitted_data.push({
          x: (new Date(time)).getTime(), 
          y: Number(fitted_dict[time])
      });
  }

  regression_chart = Highcharts.stockChart('regressionChart', {
                chart: {
                    zoomType: 'x'
                },
                
                rangeSelector: {
                    buttons: [{
                    type: 'minute',
                      count: 1,
                      text: '1 m'
                    }, {
                      type: 'minute',
                      count: 30,
                      text: '30 m'
                    }, {
                      type: 'hour',
                      count: 1,
                      text: '1 h'
                    }, {
                      type: '6',
                      count: 6,
                      text: '6 h'
                    }, {
                      type: 'hour',
                      count: 12,
                      text: '12 h'
                    }, {
                      type: 'hour',
                      count: 15,
                      text: '15 h'
                    }, {
                      type: 'month',
                      count: 1,
                      text: '1m'
                    }, {
                      type: 'month', 
                      count: 2, 
                      text: '2m'
                    }, {
                      type: 'all',
                      text: 'All'
                    }],
                    selected: 2, 
                    inputEnabled: false
                },
                
                legend: {
                    enabled: true
                },
        
                title: {
                    text: ticker + " Regression Daily Returns"
                },

                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        },
                        turboThreshold: 1000000
                    }
                },
        
                series: [{
                    name: ticker + " Actual Returns",
                    data: actual_data,
                    step: true
                }]
            });

            regression_chart.addSeries({
                name: ticker + " Fitted Returns",
                data: fitted_data,
                step: true
            });
            
            Highcharts.setOptions({
                global : {
                    useUTC : false
                }
            });

});


</script>